/* Externo */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

/* Geral */
html{
   font-family: 'Open sans', sans-serif;
   color: #373a3c;
}

a{
   transition: .5s;
}

/* Sidebar */
#sidebar {
   position: fixed;
   height: 100%;
   width: 300px;
   background-color: #006599;
   padding-top: 40px;
}

#sidebar h1{
   color: #fff;
   font-size: 32px;
   text-align: center;
   margin-top: 20px;
   margin-bottom: 30px;
}

#sidebar a{ 
   color: #fff;
   text-decoration: none;
   font-size: 16px;
}

#sidebar a:hover{ 
   color: #5ecaf4;
}

#sidebar li{
   padding: 20px;
}

.sidebar-container{
   position: relative;
   margin-left: auto;
   margin-right: auto;
   width: 200px;
}

.logo-doceria{
   width: 60px;
   height: 60px;
   display: block;
   position: relative;
   margin-left: auto;
   margin-right: auto;
}

/*conteudo */
.content{
   position: absolute;
   left: 300px;
   width: calc(100% - 300px);
}

.content h1, .content h2{
   color: #006599;
   margin-bottom: 30px;
}

.content h1{
   font-size: 48px;
}

.content h2{
   font-size: 35px;
}

section{
   padding-left: 50px;
}

/* Bem vindo */
#sessao-bemvindo{
   padding-left: 0;
}

.sessao-bemvindo-content{
   padding-left: 50px;
}

#sessao-bemvindo .banner{
   height: 500px;
   background-image: url('../img/banner2.jpg');
   background-position: center;
   background-size: cover;
}

#sessao-bemvindo h1{
   margin-top: 70px;
}

#sessao-bemvindo::after, #sessao-sobre::after{
   content: "";
   display: block;
   clear: both;
   margin-bottom: 100px;
}

.sessao-minibanner{
   width: 300px;
   height: 400px;
   background-image: url('../img/banner3.jpg');
   background-position: center;
   background-size: cover;
   float: left;
}

.sessao-descricao{
   position: absolute;
   left: 370px;
   padding-right: 30px;
}

.sessao-descricao p{
   line-height: 2;
   font-size: 16px;
   margin-bottom: 30px;
   margin-left: 25px;
}

.sessao-bemvindo-btn, form input[type=submit]{
   background-color: #006599;
   color: #fff;
   text-decoration: none;
   padding: 20px 40px;
   transition: .5s;
   display: block;
   width: 100px;
   text-align: center;
   border: none;
   cursor: pointer;
   margin-left: 25px;
}

.sessao-bemvindo-btn:hover, form input[type=submit]:hover{
   background-color: #2790c6;
}

/* About section */
#sessao-sobre .sessao-minibanner{
   float: right;
   margin-right: 50px;
   background-image: url('../img/banner4.jpg');
}

#sessao-sobre .sessao-descricao{
   position: absolute;
   left: 25px;
   width: calc(100% - 400px);
}

/* Galeria */
.banner-galeria{
   background-position: center;
   background-size: cover;
   display: inline-block;
   height: 200px;
}

#sessao-doces1, #sessao-doces2, #sessao-doces3{
   padding-right: 50px;
   margin-bottom: 50px;
}

.doces1-img{
   width: 18.8%;
   margin-left: .5%;
   margin-right: .5%;
}

#img1{
   background-image: url('../img/galeria1.jpg');
   margin-left: 0;
}

#img2{
   background-image: url('../img/galeria2.jpg');
}

#img3{
   background-image: url('../img/galeria3.jpg');
}

#img4{
   background-image: url('../img/galeria4.jpg');
}

#img5{
   background-image: url('../img/galeria5.jpg');
   margin-right: 0;
}

.doces2-img{
   width: 32.3%;
   margin-left: .5%;
   margin-right: .5%;
}

#img6{
   background-image: url('../img/galeria6.jpg');
   margin-left: 0;
}

#img7{
   background-image: url('../img/galeria7.jpg');
}

#img8{
   background-image: url('../img/galeria8.jpg');
   margin-right: 0;
}

.doces3-img{
   width: 23.9%;
   margin-left: .5%;
   margin-right: .5%;
}

#img9{
   background-image: url('../img/galeria9.jpg');
   margin-left: 0;
}

#img10{
   background-image: url('../img/galeria10.jpg');
}

#img11{
   background-image: url('../img/galeria11.jpg');
}

#img12{
   background-image: url('../img/galeria12.jpg');
   margin-right: 0;
}